@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.card {
  width: 250px;
  height: 400px;
  font-size: 6em;
  top: 100px;
}
.card-body {
  position: relative !important;
}
